*{
   border: 0; 
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
body{
    position:relative;

}
nav{
    background-color: rgb(7,53,37);
    box-shadow: 4px  7px 4px rgba(0,0,0,0,);
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.2rem 0;
}
.navbar .logo{
    color: #fff;
    text-decoration: none;
    font-size: 2.2rem;
    letter-spacing: 2px;


}
#search-input{
    max-width: 480px;
    padding: 10px 20px;
    border: 0;
    outline: 0;
    border-radius: 5px;
    color: #141414;
    font-size: 18px;



}
#search-button{
    color: #fff;
    background-color: rgb(13,133,93);
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
    padding: 10px  20px;
}
.obj-width{
    max-width: 1200px;
    margin: auto;
}
#blog-container{
    padding: 3rem 0;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
   flex-wrap: wrap;
}
.blog-card{
    width: 280px;
    border: 1px solid #141414;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
    padding: 1rem;

}
.blog-card img{
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 10px;
}
.blog-card h2{
    font-size: 1.7rem;
    font-weight: 500;
    color: #141414;
    margin-bottom: 10px;
}
.blog-card p{
    font-size: 1.2rem;
    padding-bottom: 0.7rem;
}